---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { formatDate } from "../../lib/utils";
import { Image } from 'astro:assets';
import { Card, CardDescription, CardFooter, CardHeader, CardTitle } from "@/components/ui/card";
import { Breadcrumb, BreadcrumbItem, BreadcrumbLink, BreadcrumbList, BreadcrumbPage, BreadcrumbSeparator } from "@/components/ui/breadcrumb";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title} description={entry.data.description}>
  <main>
    
    
    <div class="mx-auto grid max-w-7xl px-4 md:my-4">
      <Breadcrumb>
        <BreadcrumbList>
          <BreadcrumbItem>
            <BreadcrumbLink href="/">Home</BreadcrumbLink>
          </BreadcrumbItem>
          <BreadcrumbSeparator />
          <BreadcrumbItem>
            <BreadcrumbLink href="/blog">Blog</BreadcrumbLink>
          </BreadcrumbItem>
          <BreadcrumbSeparator />
          <BreadcrumbItem>
            <BreadcrumbPage>{entry.data.title}</BreadcrumbPage>
          </BreadcrumbItem>
        </BreadcrumbList>
      </Breadcrumb>
    </div>
    <div class="mx-auto my-8 grid max-w-7xl grid-cols-1 gap-24 px-4 md:my-16 md:grid-cols-3">
      <article class="prose-h1:text-xlprose-a:text-blue-600 prose col-span-1 max-w-3xl prose-h1:font-bold prose-p:text-justify prose-img:rounded-xl md:col-span-2">
        <time class="block" datetime={entry.data.publishDate.toString()}
          >{formatDate(entry.data.publishDate)}</time
        >
        <h1
          class="mb-6 inline-block text-4xl font-bold leading-tight lg:text-5xl"
        >
          {entry.data.title}
        </h1>
        <Content />
      </article>
      <div class="relative col-span-1 pt-8">
        <div class="sticky flex flex-col gap-4 top-8">
          <figure class="w-full rounded-xl bg-slate-200/70 p-8">
            <Image
              class="h-24 w-24 rounded-full"
              src="/daniiel-avatar.jpg"
              alt=""
              width="384"
              height="512"
            />
            <div class="space-y-4 pt-6">
              <blockquote>
                <p class="text-lg font-medium">
                  “I love building frontend applications with a strong focus on
                  UI/UX, creating seamless and engaging user experiences.”
                </p>
              </blockquote>
              <figcaption class="font-medium">
                <div class="font-semibold text-indigo-500">Daniel Pedersen</div>
                <div class="text-slate-700">Frontend Developer, Daniiel</div>
              </figcaption>
            </div>
          </figure>
          <Card className="bg-slate-200/70">
            <CardHeader>
              <CardTitle>
                Support My Development
              </CardTitle>
              <CardDescription>
                Help me invest in new tools and resources and dedicate more time to creating high-quality content and solutions.
              </CardDescription>
            </CardHeader>
            <CardFooter>
              <a
                href="https://donate.stripe.com/cN2aFG3Zg3vUcGA7ss"
                target="_blank"
                rel="noopener noreferrer nofollow"
                class="inline-flex flex-1 justify-center px-4 py-2 text-white bg-indigo-600 rounded-md"
              >
                Donate a cup of coffee
              </a>
            </CardFooter>
          </Card>

        </div>
      </div>
    </div>
  </main>
</Layout>
