---
import { getCollection } from "astro:content"
import { render } from "astro:content"
import Layout from "../../layouts/Layout.astro"
import { formatDate } from "../../lib/utils"
import { Link } from "@/components/ui/link"
import { Card, CardDescription, CardFooter, CardHeader, CardTitle } from "@/components/ui/card"
import {
  Breadcrumb,
  BreadcrumbItem,
  BreadcrumbLink,
  BreadcrumbList,
  BreadcrumbPage,
  BreadcrumbSeparator
} from "@/components/ui/breadcrumb"
import AuthorCard from "@/blocks/author-card.astro"

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog")
  return blogEntries.map((entry) => ({
    params: { slug: entry.id },
    props: { entry }
  }))
}

const { entry } = Astro.props
const { Content } = await render(entry)
---

<Layout title={entry.data.title} description={entry.data.description}>
  <main>
    <div class="mx-auto grid max-w-7xl rounded-md bg-white p-2 px-4 md:my-4">
      <Breadcrumb>
        <BreadcrumbList>
          <BreadcrumbItem>
            <BreadcrumbLink href="/">Home</BreadcrumbLink>
          </BreadcrumbItem>
          <BreadcrumbSeparator />
          <BreadcrumbItem>
            <BreadcrumbLink href="/blog">Blog</BreadcrumbLink>
          </BreadcrumbItem>
          <BreadcrumbSeparator />
          <BreadcrumbItem>
            <BreadcrumbPage className="line-clamp-1">{entry.data.title}</BreadcrumbPage>
          </BreadcrumbItem>
        </BreadcrumbList>
      </Breadcrumb>
    </div>
    <div class="mx-auto my-8 grid max-w-7xl grid-cols-1 gap-24 px-4 md:my-16 md:grid-cols-3">
      <article
        class="prose-h1:text-xlprose-a:text-blue-600 prose col-span-1 max-w-3xl prose-h1:font-bold prose-p:text-justify prose-img:rounded-xl md:col-span-2"
      >
        {entry.data.image && <img src={entry.data.image.src} alt={entry.data.image.alt} />}
        <time class="block" datetime={entry.data.publishDate.toString()}
          >{formatDate(entry.data.publishDate)}</time
        >
        <h1 class="mb-6 inline-block text-4xl font-bold leading-tight lg:text-5xl">
          {entry.data.title}
        </h1>
        <Content />
      </article>
      <div class="relative col-span-1 pt-8">
        <div class="sticky top-8 flex flex-col gap-4">
          <AuthorCard />
          <Card className="bg-slate-200/70">
            <CardHeader>
              <CardTitle> Support My Development </CardTitle>
              <CardDescription>
                Help me invest in new tools and resources and dedicate more time to creating
                high-quality content and solutions.
              </CardDescription>
            </CardHeader>
            <CardFooter>
              <Link
                className="w-full"
                href="https://donate.stripe.com/cN2aFG3Zg3vUcGA7ss"
                target="_blank"
                rel="noopener noreferrer nofollow"
              >
                Donate a cup of coffee
              </Link>
            </CardFooter>
          </Card>
        </div>
      </div>
    </div>
  </main>
</Layout>
